body{
  margin: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: rgb(245, 245, 245);
}
@media (max-width:700px){
  html{
    font-size: 14px;
  }
}
@media (max-width:500px){
  html{
    font-size: 12px;
  }
}