@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofadi+One&display=swap');
body {
  margin: 0px;
  background-color: rgb(245, 245, 245) !important;
  box-sizing: border-box;
}
* {
  font-family: "-apple-system";
}
:root {
  --primary_color: #1c7ed6;
  --secondary_color: #d6e7f886;
}

/* Mantine ui */
.mantine-16nrau2 {
  padding: 0%;
}
.mantine-Drawer-title {
  font-size: 24px;
  text-decoration: underline;
}
.mantine-Modal-title {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}


.fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  backdrop-filter: blur(1px);
}
.noData {
  font-size: 6rem;
  color: #b8b9ba;
}

.center {
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
